
.icon--github--growgreen:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

.icon--link--growgreen:hover {
  background-color: #47adf0;
  outline-color: #47adf0;
}

.icon--github--growgreen, .icon--link--growgreen {
  margin: 10px;
}
