[data-theme="light"] {
  background-color: lightblue;
  --bg-color: black;
  transition: background-color 1050ms ease-in-out;
}

[data-theme="dark"] {
  background-color: #282c34;
  --bg-color: white;
  transition: background-color 1050ms ease-in-out;
}

.project-title {
  color: var(--bg-color);
}

.sc-dkrFOg {
  outline: 10px solid yellow;
}
