[data-theme="light"] {
  background-color: #F6F6F7;
  background-image: url("../4880206.jpg");
  background-size: 1800px;
  --whiteblack-color: white;
  --bg-color: black;
  --contact-color: black;
  --title-color: white;
  --header-color: blue;
  --project-description: black;
  transition: background-color 1050ms ease-in-out;
}

[data-theme="dark"] {
  background-color: #0d0e13;
  background-image: url("../5631804.jpg");
  background-size: 1800px;
  --whiteblack-color: black;
  --bg-color: white;
  --contact-color: yellow;
  --title-color: yellow;
  --header-color: yellow;
  --project-description: #F9C811;
  transition: background-color 1050ms ease-in-out;
}

.DayNightToggle {
  padding-right: 16px;
}

@media screen and (max-width: 1600px) {
  .DayNightToggle {
    padding-right: 55px;
  }
}

@media screen and (max-width: 1000px) {
  .DayNightToggle {
    padding: 0;
  }
}

@media screen and (min-width: 1850px)  {
  [data-theme="light"], [data-theme="dark"]  {
    background-size: 3450px 1200px;
  }
}

@media screen and (max-width: 1050px) {
  [data-theme="light"], [data-theme="dark"] {
    background-size: 1800px 870px;
  }
}


@media screen and (min-width: 1300px) {
  [data-theme="light"], [data-theme="dark"] {
    background-size: 1800px 900px;
  }
}
@media screen and (min-width: 1500px) {
  [data-theme="light"], [data-theme="dark"] {
    background-size: 1900px 1000px;
  }
}

@media screen and (min-width: 1850px)  {
  [data-theme="light"], [data-theme="dark"] {
    background-size: 3450px 1200px;
  }
}

