[data-theme="light"] {
  background-color: #F6F6F7;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=1480&t=st=1677135119~exp=1677135719~hmac=013a74108c0676a765a1376b67bfe8bacf678ec416221c0b12ea9d161946d4eb");
  background-size: 1800px;
  --whiteblack-color: white;
  --bg-color: black;
  --contact-color: black;
  --title-color: white;
  --header-color: blue;
  transition: background-color 1050ms ease-in-out;
}

[data-theme="dark"] {
  background-color: #181C27;
  background-image: url("../5631804.jpg");
  background-size: 1800px;
  --whiteblack-color: black;
  --bg-color: white;
  --contact-color: yellow;
  --title-color: yellow;
  --header-color: yellow;
  transition: background-color 1050ms ease-in-out;
}

.project-title {
  color: var(--bg-color);
}

.DayNightToggle {
  padding-right: 16px;
}

@media screen and (max-width: 1600px) {
  .DayNightToggle {
    padding-right: 55px;
  }
}

@media screen and (max-width: 1000px) {
  .DayNightToggle {
    padding: 0;
  }
}



