#contact {
  margin-bottom: 5%;
}

#contact * {
  color: var(--contact-color);
  outline-color: var(--contact-color);
}

.icon--linkedin--contact:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github--contact:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

#contact-linkedin:hover, #contact-github:hover {
  color: yellow;
}