.Logo {
  border-color: orange;
  height: 7vmin;
  width: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  
}

.Logo > h1 {
  outline-color: orange;
}
