.AboutPage > h1 {
  color: rgb(44, 177, 44);
  text-decoration: underline;
}

.AboutMe  {
  display: grid;
  grid-template-columns: auto;
  border: 2px solid black;
  background-color: white;
  opacity: 80%;
}

.AboutMe > a {
  background-color: yellow;
  margin: auto;
  margin-bottom: 10px;
}