.AboutPage > h1 {
  color: rgb(44, 177, 44);
  text-decoration: underline;
}

.AboutMe  {
  display: grid;
  grid-template-columns: auto;
  border: 3px solid black;
  background-color: white;
  opacity: 80%;
  margin-left: -5px;
  margin-right: -5px;
}

.AboutMe > a {
  background-color: yellow;
  margin: auto;
  margin-bottom: 10px;
}

.AboutPage {
  overflow-x: hidden;
}

@media only screen and (min-width:800px)  {
  .AboutMe > a {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width:799px)  {
  .AboutMe > a {
    margin-bottom: 5px;
  }
}

