.NavBar > nav {
  background-color: blue;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

nav > a {
  background-color: blue;
  color: yellow;
  text-decoration: none;
} 