.NavBar > nav {
  background-color: none;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
}

nav > a {
  background-color: none;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 19px;
}   

nav > h2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav > #navbar {
  display: flex;
  justify-content: flex;
}

#navbar:hover {
  text-decoration: underline;
  text-decoration-thickness: 20%;
}

#navbar:hover {
  text-decoration: underline;
  text-decoration-thickness: 20%;
}


.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}



