@media only screen and (min-width:1000px)  {
  body {
    background: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg");
    background-position: cover;
    background-size: 100%; 
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width:999px)  {
body {
  background: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg");
  background-position: cover;
  background-size: fill;
  background-repeat: no-repeat;
}
}

.App {
  text-align: center;
}

footer {
  color: yellow;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

