.App {
  text-align: center;
}

footer {
  color: var(--project-description);
  position: absolute;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--whiteblack-color);
  border: 3px solid black
}

body {
  background-color: #F6F6F7;
  background-image: url("../../components/4880206.jpg");
  background-repeat: no-repeat;
  background-size: 1800px 1000px;
  overflow-x: hidden;
}

@media screen and (max-width: 1050px) {
  body {
    background-size: 1800px 870px;
  }
}


@media screen and (min-width: 1300px) {
  body {
    background-size: 1800px 900px;
  }
}
@media screen and (min-width: 1500px) {
  body {
    background-size: 1900px 1000px;
  }
}

@media screen and (min-width: 1850px)  {
  body {
    background-size: 3450px 1200px;
  }
}

* {
  scroll-behavior: smooth;
}

.project-title {
   margin-top: 3rem;
}