:root {
  --primary-darkest: rgb(23,28,40);
  --primary-dark: rgb(28,36,50);
  --primary-light: rgb(172, 181, 207);
  --accent: #F9C811;
}

.ProjectPage > p {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  margin-bottom: 10rem;
}

 .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 10rem;
}

.projects > img {
  margin: 2rem 0;
}

p > a {
  padding: 20px;
}

img {
  color: black;
  outline: 4.5px solid black;
}

.ProjectPage img {
  border-radius: 10px;
  box-shadow: 20px 15px #F9C811;
}

.ProjectPage img:hover {
  box-shadow: 15px 10px #F9C811;
}

.project-title {
  color: var(--bg-color);
}

.project-info-container span:first-child {
  color: var(--project-description);
  font-weight: 1000px;
  font-size: 2rem;
}
/* 
.project-info-container span:nth-child(4) {
  margin-top: -1rem;
} */

.project-info-container span:nth-child(3), .project-info-container span:nth-child(5), .project-info-container span:nth-child(7) {
  font-size: 1.5rem;
  color: var(--bg-color);
}

.project-info {
  background-color: #f7f7f9;
  padding: 1rem;
  font-size: 1.4rem;
  outline: 4px solid black;
  border-radius: 30px;
}


@media screen and (max-width: 890px) {
.ProjectPage > p {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

  .project-info-container {
    margin-left: 3rem;
  }

  .ProjectPage img {
    height: 1rem;
    width: 5rem;
  }
}

@media screen and (max-width: 1050px) {
  .project-info {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1249px) {
  .ProjectPage img {
    margin: 4rem;
  }

  .project-info-container {
    margin-top: 4.9rem;
    margin-right: 2rem;
  }

  .ProjectPage img {
    height: 20rem;
    width: 30rem;
  }
}

@media screen and (min-width: 1250px) {

  .ProjectPage img {
    height: 20rem;
    width: 30rem;
    margin: 5rem 6rem 0 10rem;
  }

  .project-info-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-info-container span, .project-info {
    margin-right: 3rem;
    text-align: center;
    font-family: "Source Sans Pro";
  }
}

@media screen and (min-width: 2150px) {
  .ProjectPage img {
    height: 35rem;
    width: 70rem;
    margin-top: 13rem;
  }
  .project-info-container span:first-child {
    font-size: 3.5rem;
  }
  .project-info-container span:nth-child(3), .project-info-container span:nth-child(5) {
    font-size: 2.5rem;
  }

  .project-info {
    font-size: 2rem;
  }
}

@media only screen and (max-width:1350px) {
  .ProjectPage p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:900px) {
  .ProjectPage p {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:1075px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.line-effects {
  position: absolute;
  margin: 5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.line-effect-container.horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-line-effect {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 3px;
  background-image: linear-gradient(90deg, var(--accent), var(--primary-dark), var(--accent), var(--primary-dark), var(--accent));
}

.horizontal-line-effect.left {
  animation: horizLineEffectPulse 2s linear;
  animation-iteration-count: infinite;
}

.horizontal-line-effect.right {
  left: 0;
  right: -100%;
  animation: reverseHorizLineEffectPulse 2s linear;
  animation-iteration-count: infinite;
}

.line-effect-container.vertical {
  position: absolute;
  top: calc(2.441rem / 2);
  height: 100%;
  overflow: hidden;
}

.line-effect-container.vertical.right {
  right: 0;
}

.vertical-line-effect {
  width: 2px;
  height: 200%;
  background-image: linear-gradient(var(--accent), var(--primary-dark), var(--accent), var(--primary-dark), var(--accent));
  animation: vertLineEffectPulse 2s linear;
  animation-iteration-count: infinite;
}

@keyframes horizLineEffectPulse {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(50%);
  }
}

@keyframes reverseHorizLineEffectPulse {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

@keyframes vertLineEffectPulse {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-50%);
  }
}
