.ProjectPage > h1 {
  color: black;
  text-decoration: underline;
}

.ProjectPage > p {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

p > a {
  padding: 20px;
}

img {
  outline: 4.5px solid black;
}