.ProjectPage > h1 {
  color: black;
  text-decoration: underline;
}

.ProjectPage > p {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

 .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 10rem;
}

.projects > img {
  margin: 2rem 0;
}

p > a {
  padding: 20px;
}

img {
  outline: 4.5px solid black;
  outline-color: var(--bg-color);
}

@media only screen and (max-width:1350px) {
  .ProjectPage p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:1175px) {
  .ProjectPage p {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width:1075px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}